.container {
  margin: 20px auto;
  max-width: 1100px;
}

form {
  max-width: 1000px;
  margin: 0 auto;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #030f01;
  margin-bottom: 10px;
  font-size: 16px;
}

.form-group textarea {
  resize: none;
}
